includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  reportUnmatchedIgnoredErrors: false

  paths:
    - app
    - config
    - database
    - routes

  level: 3

  ignoreErrors:
    - message: '#Undefined variable:\s+\$this#'

  excludePaths:
    - */vendor/*
    - */node_modules/*
    - */storage/*
    - bootstrap/cache/*
